@import url(http://fonts.googleapis.com/css?family=Montserrat);
span.stars,
span.stars span {
  display: block;
  background: url(images/stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

span.stars span {
  background-position: 0 0;
}

#puntuarte-global-widget.active {
  float: left;
  background: #17baef;
  height: auto;
  padding: 10px 10px 0px 10px;
  color: white;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px 1px;
  font-family: 'Montserrat', sans-serif;
  clear: both;
}

#puntuarte-global-widget.active .body-rating {
  margin-top: 15px;
  margin-bottom: 15px;
}

#puntuarte-global-widget.active .ratings-footer {
  font-size: 10px;
  padding: 0px 0px 10px 0px;
}

#puntuarte-global-widget.active .ratings-footer h3 {
  font-size: 20px;
  margin-top: 2px;
}

#puntuarte-global-widget.active .ratings-footer a,
.puntuarte-product-widget .ratings-footer a {
  color: #eebf3f;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.puntuarte-product-widget.active {
  float: left;
  background: rgb(173, 147, 44);
  height: auto;
  color: white;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px 1px;
  font-family: 'Montserrat', sans-serif;
  clear: both;
}

.puntuarte-product-widget.active .body-header {
  font-size: 10px;
}

.puntuarte-product-widget .row {
  border-top: 1px solid rgba(0,0,0,0.1);
  background: white;
  color: black;
  font-size: 11px;
  padding: 15px;
}

.puntuarte-product-widget .body-rating span.stars {
  float: right;
  top: 0px;
}

.puntuarte-product-widget .name {
  float: left;
}

.puntuarte-product-widget .comment {
  clear: both;
  padding: 20px 0px 5px 0px;
  color: rgba(0,0,0,0.7);
}

.puntuarte-product-widget .ratings-total {
  font-size: 12px;
  width: 100%;
  clear: both;
  float: left;
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.puntuarte-product-widget .puntuarte-widget-number {
  font-size: 20px;
}

.puntuarte-product-widget h3 {
  margin: 10px 0px 0px 0px;
  text-align: center;
  padding: 0px 15px 0px 15px;
}

.puntuarte-product-widget .puntuarte-widget-wrapper-stars {
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.puntuarte-product-widget .header-rating .puntuarte-widget-wrapper-stars span.stars,
.puntuarte-product-widget .header-rating .puntuarte-widget-wrapper-stars span .stars > span {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.product-widget-totals {
  float: right;
  padding: 2px 15px 2px 0px;
}
.product-widget-avg {
  float: left;
  padding: 2px 15px 2px 15px;
}

.puntuarte-product-widget .body-rating {
  float: left;
  width: 100%;
}

.puntuarte-product-mini-widget.active span {
  display: block;
  float: left;
}

.puntuarte-product-mini-widget.active {
  clear: both;
}
